body {
  font-family: "Poppins", sans-serif;
}

.hero-contain {
  background-image: url("image/grill.jpg");
  background-size: cover;
  height: 80dvh;
}

.card {
  width: 18rem;
}
.card-img {
    height: 30vh;
    object-fit: cover;
}
footer{
    background-color: #0d6efd
}

.copy{
    background-color: rgba(0, 0, 0, 0.2)
}